header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color:#F9564F ;
  
  .header-mail{
    margin-right: 1rem;
  }
  .header-menu {
    display: flex;
    margin-right: 1rem;
    margin-top: 1rem;
    align-items: center;
    
  }

  .link-header{
    text-decoration: none;
    color:inherit;
    margin-right: 1rem;
    

  }
  .logut-button,.link-header{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    padding: 0.5rem;
    border-radius: 1rem;
    &:hover{
      background-color:#b9423e ;
    }
  }
}
