header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  

  .header-menu {
    display: flex;
    margin-right: 1rem;
    margin-top: 1rem;
    align-items: center;
    
  }
}
