.link-container{
    margin-top: 3rem;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    .link-title{
        margin-top: 1rem;
        font-size: 2rem;
    }
    .text-box {
        background-color: #4b4b4b;
        color: white;
        padding: 1rem;
        margin-top: 1rem;
        cursor: pointer;
  
        &:hover{
          background-color: #272727;
        }
    }
    img{
        width: 400px;
    }
}